.bar {
    width: 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-evenly;
    border-width: 5px;
    border-color: red;
    border-radius: 20px;
    border-style: solid;
    margin: 0 5px;
}

.buttonRow {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.timeSignature {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-right: 2ex;
}

.barFieldSection {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 3%;
    border-bottom-width: 3px;
    border-bottom-color: green;
    border-bottom-style: solid;
}