.settingsBar {
    display: flex;
    // flex: 1;
    flex-direction: column;
    background-color: blue;
    align-items: center;
}

.playButton {
    // width: 5ex;
    // height: 10ex;
    width: 90%;
    height: 20%;
    justify-content: center;
}

.stdP {
    // width: 4ex;
    // height: 8ex;
    // margin: 2ex 0;
    background-color: green;
    justify-content: center;
}

.globalTempo {
    display: flex;
    flex-direction: row;
}