#metronome {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: red;
}

.barContainer {
    display: flex;
    flex: 5;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(151, 83, 153);
}